@model CarRent5.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.License)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.License)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
