@model CarRent5.Rental

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pickup_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pickup_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dropoff_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dropoff_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
