@model IEnumerable<CarRent5.Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pickup_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dropoff_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pickup_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dropoff_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.CarName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.StoreName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
